#canvas {
    outline: 2px solid black;
}

#button {
    display: flexbox;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}