.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#canvas {
    outline: 2px solid black;
    justify-content: center;
}

.buttons {
    padding: 15px 30px;
}

p {
    font-size: 2rem;
}


#speed {
    align-items: start;
}