<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Canvas</title>
</head>
<body>
    <canvas id="canvas" width="750" height="1250"></canvas>
    <script src="../static/app.js" defer></script>
    <button id="reset" >Reset Grid</button>
    <button id="start" >Start</button>
    <button id="draw" >Draw</button>
    <button id="end" >End</button>
    <button id="BFS" >BFS</button>
    <button id="DFS" >DFS</button>
    <button id="Astar" >A*</button>
    <button id="Run" >Run</button>
</body>
</html>